.DS_Store
.data/
.docs/
.dump/
.idea/
.sass-cache/
coverage/
journal/
node_modules/

npm-debug.log

*.db
*.iml
*.rdb
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.todo.md